<!DOCTYPE html>
<html>
  <head>
    <link href="images/icon.png" rel="shortcut icon" type="image/x-icon"/>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<script type="text/javascript" src="lib/jquery.js"></script>
  	<script type="text/javascript" src="lib/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="lib/jquery.loading.min.js"></script>
    <script type="text/javascript" src="lib/notify.min.js"></script>
    <link rel='stylesheet' href='lib/jquery-ui.min.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
  	<script type="text/javascript" src="js/ris.js"></script>
  </head>
  <body>
    <div id="radconnext-logo-div">
    	<img src="images/logo-radconnext.png" />
    </div>
    <h1><%= title %></h1>
	<div id="welcome-message-div">
		<p><%= title %> ยินดีต้อนรับเข้าสู่ระบบ RIS</p>
	</div>
	<div id="ris-cmd-div">
		<button id="test-cmd" style="width: 100%;">Test</button>
	</div>
  <div id="ris-result-div"></div>
  </body>
</html>
