<!DOCTYPE html>
<html>
  <head>
    <title>Rad Connext</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div id="radconnext-howto-div">
    	<img src="images/lightbulb-4.png" />
    </div>   
    <p>วิธีใช้งาน</p>
  </body>
</html>
